<!-- error-500.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 Erro interno do servidor</title>
</head>
<body>
    <h1>Oops! Ocorreu um erro interno do servidor.</h1>
    <p>O servidor encontrou um erro inesperado que o impediu de atender à sua solicitação.</p>
    <p>Nossos engenheiros já foram notificados sobre o problema e estão trabalhando para resolvê-lo. Por favor, tente novamente mais tarde.</p>
    <a href="/">Voltar à Página Inicial</a>
</body>
</html>